<div>
 <%= flash[:notice] %>
</div>

<div class="show">
 <p class="show-title">
 <strong>Title:</strong>
 <%= @book.title %>
 </p>
 <!--横並びにする-->

 <p class="show-body">
 <strong>Body:</strong>
 <%= @book.body %>
 </p>
</div>

<div class="url">
 <%= link_to "Edit", edit_book_path(@book.id) %> |
 <%= link_to "Back", "/books" %>
</div>



